aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
av
certifi
charset-normalizer
click
ctranslate2
diskcache
duckduckgo_search
edge-tts
fastapi
faster-whisper
filelock
flatbuffers
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
llama_cpp_python
lxml
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
networkx
numpy
onnxruntime
packaging
primp
propcache
protobuf
pydantic
pydantic_core
pydub
Pygments
python-multipart
pytz
PyYAML
requests
rich
setuptools
shellingham
SpeechRecognition
standard-aifc
standard-chunk
starlette
sympy
tabulate
tokenizers
torch
torchaudio
tqdm
typer
typing-inspection
typing_extensions
urllib3
uvicorn
yarl
yt-dlp
